/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/app/private
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
.env
.env.*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-debug.log
yarn-error.log
